body {
  background-color: rgb(46, 44, 44);
  color: rgb(253, 249, 249);
}

h1 {
  font-family: "Monaco, " Lucida Sans ", " Lucida Sans Regular ", " Lucida
      Grande ", " Lucida Sans Unicode ", Geneva",
    Verdana, sans-serif;
  text-align: justify;
  text-shadow: 1px 2px 4px #867a528c;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 12px 30px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: gray;
}

.move-app > .row {
  overflow-x: auto;
}

input[type="text"] {
  float: right;
  clear: both;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
}

.media {
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(37, 37, 37, 0.75);
}

.media:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 24px;
  font-family: Alegreya Sans, Verdana, sans-serif;
  text-align: justify;
  text-transform: capitalize;
}
